:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

@media(max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 991px) {
    html {
        font-size: 44%;
    }

    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .inicio {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media(max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)
    }

    .navbar.navjs.active {
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.navjs.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.navjs.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .inicio-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media(max-width: 520px) {
    html {
        font-size: 50%;
    }

    .inicio-content h1 {
        display: flex;
        flex-direction: column;
    }

    .inicio-media {
        width: 160px;
    }

    .inicio-media a {
        width: 38px;
        height: 38px;
    }
}

@media(max-width: 462px) {
    .inicio-content h1 {
        font-size: 5.2rem;
    }

    .educacao {
        padding: 10rem 4% 5rem 5%;
    }

    .contato form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media(max-width: 371px) {
    .inicio {
        justify-content: center;
    }

    .inicio-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .inicio-content h1 {
        font-size: 5rem;
    }
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.inicio-img {
    width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.inicio.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));

}

.sobre.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -42rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}