:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

@media(max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 991px) {
    html {
        font-size: 44%;
    }

    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .inicio {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media(max-width: 898px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)
    }

    .navbar.navjs.active {
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.navjs.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.navjs.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }
}