@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@900&family=Open+Sans:ital,wght@0,400;0,700;1,300&family=Poppins:wght@300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

html {
    font-size: 62.5%;
    overflow-x: hidden;
}

body {
    background: var(--bg-color);
    color: var(--text-color);
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
    transition: .3s;
}

.logo {
    position: relative;
    font-size: 2.5rem;
    color: var(--text-color);
    font-weight: 600;
}

.navbar {
    position: relative;
}

.navbar a {
    font-size: 1.7rem;
    color: var(--text-color);
    font-weight: 500;
    margin: 3.5rem;
}

.navbar a:hover,
.navbar a.active {
    color: var(--main-color);
}

.scrolling {
    background-color: var(--bg-color);
    transition: background-color 0.3s ease;
}

#menu-icon {
    position: relative;
    font-size: 3.6rem;
    color: var(--text-color);
    cursor: pointer;
    display: none;
}

section {
    min-height: 100vh;
    padding: 10rem 9% 2rem;
}

.inicio {
    display: flex;
    align-items: center;
    padding: 0 9%;
    background: url('/images/BG-Python.jpg') no-repeat;
    background-size: cover;
    background-position: center;
}

.inicio-content {
    max-width: 70rem;
    z-index: 99;
}

.inicio-content h1 {
    position: relative;
    display: inline-block;
    font-size: 5.6rem;
    font-weight: 700;
    line-height: 1.3;
}

/*
.inicio-content h1 span {
    color: var(--text-color);
}
*/

.inicio-content .text-animate {
    position: relative;
    width: 42rem;
}

.inicio-content .text-animate h3 {
    font-size: 3.2rem;
    font-weight: 700;
    color: transparent;
    -webkit-text-stroke: .7px var(--main-color);
    background-image: linear-gradient(var(--main-color), var(--main-color));
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -42rem 0;
    animation: homeBgText 6s linear infinite;
    animation-delay: 2s;
}

.inicio-content .text-animate h3::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    border-right: 2px solid var(--main-color);
    z-index: -1;
    animation: homeCursorText 6s linear infinite;
    animation-delay: 2s;
}

.inicio-content p {
    position: relative;
    font-size: 1.6rem;
    margin: 2rem 0 4rem;
}

.inicio-content .btn-box {
    position: relative;
    display: flex;
    justify-content: space-between;
    width: 30rem;
    height: 5rem;
}

.btn-box .btn {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: auto;
    height: 100%;
    padding-left: .2rem;
    text-align: center;
    background: var(--main-color);
    border: .2rem solid var(--main-color);
    border-radius: .8rem;
    font-size: 1.8rem;
    font-weight: 600;
    letter-spacing: .1rem;
    color: var(--bg-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.btn-box .btn:hover {
    color: var(--main-color);
}

.btn-box .btn:nth-child(2) {
    background: transparent;
    color: var(--main-color);
}

.btn-box .btn:nth-child(2):hover {
    color: var(--bg-color);
}

.btn-box .btn:nth-child(2)::before {
    background: var(--main-color);
}

.btn-box .btn::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.btn-box .btn:hover::before {
    width: 100%;
}

.inicio-media {
    position: absolute;
    bottom: 4rem;
    width: 170px;
    display: flex;
    justify-content: space-between;
}

.inicio-media a {
    position: relative;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: .2rem solid var(--main-color);
    border-radius: 50%;
    font-size: 20px;
    color: var(--main-color);
    z-index: 1;
    overflow: hidden;
    transition: .5s;
}

.inicio-media a:hover {
    color: var(--bg-color);
}

.inicio-media a::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--main-color);
    z-index: -1;
    transition: .5s;
}

.inicio-media a:hover::before {
    width: 100%;

}

.inicio-imgHover {
    position: absolute;
    top: 0;
    right: 0;
    width: 45%;
    height: 100%;
    background: transparent;
    transition: 3s;
}

.inicio-imgHover:hover {
    background: var(--bg-color);
    opacity: .8;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2rem;
    background: var(--second-bg-color);
    padding-bottom: 6rem;
}

.sobre .heading {
    position: relative;
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

span {
    color: var(--main-color);
}

.sobre .sobre-img {
    position: relative;
    width: 25rem;
    height: 25rem;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.sobre-img img {
    width: 90%;
    border-radius: 50%;
    border: .2rem solid var(--main-color);
}

.sobre-img .circle-spin {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(0);
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top: .2rem solid var(--second-bg-color);
    border-bottom: .2rem solid var(--second-bg-color);
    border-left: .2rem solid var(--main-color);
    border-right: .2rem solid var(--main-color);
    animation: aboutSpinner 8s linear infinite;
}

.sobre-content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.sobre-content h3 {
    font-size: 2.6rem;
}

.sobre-content p {
    font-size: 1.6rem;
    margin: 2rem 0 3rem;
}

.btn-box .btns {
    display: flex;
    justify-content: center;
}

.btn-box .btns {
    display: inline-block;
    width: 15rem;
}

.btn-box .btns a::before {
    background: var(--second-bg-color);
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}


.educacao {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    flex-direction: column;
    padding-bottom: 5rem;
}

.educacao .educacao-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.educacao-row .educacao-column {
    flex: 1 1 40rem;
}

.educacao-row .educacao-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem 2rem;
}


.educacao .heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.educacao .heading span {
    color: var(--main-color);
}

.educacao-column .educacacao-box {
    border-left: .2rem solid var(--main-color);
}

.educacacao-box .educacao-content {
    position: relative;
    padding-left: 2rem;
}

.educacacao-box .educacao-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: -1.1rem;
    width: 2rem;
    height: 2rem;
    background-color: var(--main-color);
    border-radius: 50%;
}

.educacao-content .content {
    position: relative;
    padding: 1.5rem;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    margin-bottom: 2rem;
    overflow: hidden;
}

.educacao-content .content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--second-bg-color);
    z-index: -1;
    transition: .5s;
}

.educacao-content .content:hover::before {
    width: 100%;
}

.educacao-content .year {
    font-size: 1.5rem;
    color: var(--main-color);
    padding-bottom: .5rem;
}

.educacao-content .content .year i {
    padding-right: .5rem;
}

.educacao-content .content h3 {
    font-size: 3rem;
}

.educacao-content .content p {
    font-size: 1.6rem;
    padding-top: .5rem;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.habilidades {
    min-height: 100vh;
    padding-bottom: 7rem;
    background: var(--second-bg-color);
}

.habilidades .heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.habilidades-row {
    display: flex;
    flex-wrap: wrap;
    gap: 5rem;
}

.habilidades-row .habilidades-column {
    flex: 1 1 40rem;
}

.habilidades-column .title {
    font-size: 2.5rem;
    margin: 0 0 1.5rem;
}

.habilidades-box .habilidades-content {
    position: relative;
    border: .2rem solid var(--main-color);
    border-radius: .6rem;
    padding: .5rem 1.5rem;
    z-index: 1;
    overflow: hidden;
}

.habilidades-box .habilidades-content::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100%;
    background: var(--bg-color);
    z-index: -1;
    transition: .5s;
}

.habilidades-box .habilidades-content:hover::before {
    width: 100%;
}

.habilidades-content .progresso {
    padding: 1rem 0;
}

.habilidades-content .progresso h3 {
    font-size: 1.7rem;
    display: flex;
    justify-content: space-between;
}

.habilidades-content .progresso h3 span {
    color: var(--text-color);
}

.habilidades-content .progresso .bar {
    height: 2.5rem;
    border-radius: .6rem;
    border: .2rem solid var(--main-color);
    padding: .5rem;
    margin: 1rem 0;
}

.habilidades-content .progresso .bar span {
    display: block;
    height: 100%;
    border-radius: .3rem;
    background: var(--main-color);
}

.habilidades-column:nth-child(1) .habilidades-content .progresso:nth-child(1) .bar span {
    width: 90%;
}

.habilidades-column:nth-child(1) .habilidades-content .progresso:nth-child(2) .bar span {
    width: 50%;
}

.habilidades-column:nth-child(1) .habilidades-content .progresso:nth-child(3) .bar span {
    width: 50%;
}

.habilidades-column:nth-child(1) .habilidades-content .progresso:nth-child(4) .bar span {
    width: 80%;
}

.habilidades-column:nth-child(1) .habilidades-content .progresso:nth-child(5) .bar span {
    width: 80%;
}

.habilidades-column:nth-child(1) .habilidades-content .progresso:nth-child(6) .bar span {
    width: 50%;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.portfolio .heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.portfolio {
    background: var(--bg-color);
}

.porfolio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    gap: 2.5rem;
}

.porfolio-container .portfolio-box {
    position: relative;
    border-radius: 2rem;
    box-shadow: 0 0 1rem var(--second-bg-color);
    overflow: hidden;
    display: flex;
}

.portfolio-box img {
    width: 100%;
    transition: .5s ease;
}

.portfolio-box:hover img {
    transform: scale(1.1);
}

.portfolio-box .portfolio-layer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(rgba(0, 0, 0, .1), var(--main-color));
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    padding: 0 4rem;
    transform: translateY(100%);
    transition: .5s ease;
}

.portfolio-box:hover .portfolio-layer {
    transform: translateY(0);

}

.portfolio-layer h4 {
    font-size: 3rem;
}

.portfolio-layer p {
    font-size: 1.6rem;
    padding: .3rem 0 1rem;
}

.portfolio-layer a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 5rem;
    height: 5rem;
    background: var(--text-color);
    border-radius: 50%;
}

.portfolio-layer a i {
    font-size: 2rem;
    color: var(--second-bg-color);
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

.contato {
    background: var(--second-bg-color);
}

.contato .heading {
    font-size: 5rem;
    margin-bottom: 3rem;
    text-align: center;
}

.contato form {
    max-width: 70rem;
    margin: 1rem auto;
    text-align: center;
    margin-bottom: 3rem;
}

.contato form .input-box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.contato form .input-box input,
.contato form textarea {
    width: 100%;
    padding: 1.5rem;
    font-size: 1.6rem;
    color: var(--text-color);
    background: var(--bg-color);
    border-radius: .8rem;
    margin: .7rem 0;
}

.contato form .input-box input {
    width: 49%;
}

.contato form textarea {
    resize: none;
}

.contato form .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background: var(--main-color);
    border-radius: 4rem;
    box-shadow: 0 0 1rem var(--main-color);
    font-size: 1.6rem;
    color: var(--second-bg-color);
    letter-spacing: .1rem;
    font-weight: 600;
    transition: .5s ease;
    margin-top: 2rem;
    cursor: pointer;
}

.contato form .btn:hover {
    box-shadow: none;
}

:root {
    --bg-color: #081b29;
    --second-bg-color: #112e42;
    --text-color: #ededed;
    --main-color: #00abf0;
}

@media(max-width: 1200px) {
    html {
        font-size: 50%;
    }
}

@media(max-width: 991px) {
    html {
        font-size: 44%;
    }

    .header {
        padding: 2rem 4%;
    }

    section {
        padding: 10rem 4% 2rem;
    }

    .inicio {
        padding: 0 4%;
    }

    .footer {
        padding: 2rem 4%;
    }
}

@media(max-width: 768px) {
    .header {
        background: var(--bg-color);
    }

    #menu-icon {
        display: block;
    }

    .navbar {
        position: absolute;
        top: 100%;
        left: -100%;
        width: 100%;
        padding: 1rem 4%;
        background: var(--main-color);
        transition: .25s ease;
        transition-delay: .25s;
        z-index: 1;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .2)
    }

    .navbar.navjs.active {
        transition-delay: 0s;
        left: 0;
    }

    .navbar .active-nav {
        position: absolute;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        background: var(--bg-color);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        z-index: -1;
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.navjs.active .active-nav {
        transition-delay: .25s;
        left: 0;
    }

    .navbar a {
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        transform: translateX(-20rem);
        transition: .25s ease;
        transition-delay: 0s;
    }

    .navbar.navjs.active a {
        transform: translateX(0);
        transition-delay: .25s;
    }

    .inicio-imgHover {
        pointer-events: none;
        background: var(--bg-color);
        opacity: .6;
    }
}

@media(max-width: 520px) {
    html {
        font-size: 50%;
    }

    .inicio-content h1 {
        display: flex;
        flex-direction: column;
    }

    .inicio-media {
        width: 160px;
    }

    .inicio-media a {
        width: 38px;
        height: 38px;
    }
}

@media(max-width: 462px) {
    .inicio-content h1 {
        font-size: 5.2rem;
    }

    .educacao {
        padding: 10rem 4% 5rem 5%;
    }

    .contato form .input-box input {
        width: 100%;
    }

    .footer {
        flex-direction: column-reverse;
    }

    .footer p {
        margin-top: 2rem;
        text-align: center;
    }
}

@media(max-width: 371px) {
    .inicio {
        justify-content: center;
    }

    .inicio-content {
        display: flex;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .inicio-content h1 {
        font-size: 5rem;
    }
}

.animate {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: var(--bg-color);
    z-index: 98;
}

.animate.inicio-img {
    width: 50%;
}

.logo .animate,
.navbar .animate,
#menu-icon .animate,
.inicio.show-animate .animate {
    animation: showRight 1s ease forwards;
    animation-delay: calc(.3s * var(--i));
}

.animate.scroll {
    transition: 1s ease;
    transition-delay: calc(.3s / var(--i));

}

.sobre.show-animate .animate.scroll {
    transition-delay: calc(.3s * var(--i));
    width: 0;
}

@keyframes homeBgText {

    0%,
    10%,
    100% {
        background-position: -42rem 0;
    }

    65%,
    85% {
        background-position: 0 0;
    }
}

@keyframes homeCursorText {

    0%,
    10%,
    100% {
        width: 0;
    }

    65%,
    78%,
    85% {
        width: 100%;
        opacity: 1;
    }

    75%,
    81% {
        opacity: 0;
    }
}

@keyframes aboutSpinner {
    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes showRight {
    100% {
        width: 0;
    }
}